.textarea{
   
        resize: none;
        width: fit-content;
      
}
.contact-submit-button{
    margin-left: 80%;
    resize: none;
    width: fit-content;

}


.contact-div{
    background-color: #f8f9fa;
    margin-top: 6%;
    height: 500px;
    width: 700px;
}

.contact-shadow-div{
    background-color:#f8f9fa;
    margin-top: 3%;
    height: 700px;
    width: 1200px;
    opacity: 0.9;
}