.textarea{
   
        resize: none;
        width: fit-content;
      
}
.contact-submit-button{
    margin-left: 20%;
    resize: none;
    width: fit-content;

}


.contact-div{
    background-color: #f8f9fa;
    height: 500px;
    width: 100%;
    margin-left: 70%;
}

.contact-shadow-div{
    background-color:#f8f9fa;
    height: 700px;
    width: 100%;
    opacity: 0.9;
}