.about-page{
    background-color: #f8f9fa;
    height: 100%;
    width: 100%;
}

.about-page-shadow{
        background-color:#f8f9fa;
        height: 670px;
        width: 100%;
        opacity: 0.9;

}

.h2-textstyle{
    margin-left: 5%;
    
}

.p-style{
    font-family: "Trebuchet MS", Verdana, sans-serif;
    font-weight:normal;
}